.headerContainer {
  height: 6rem;
  background-color: #FFF;
}
.headerContent {
  // max-width: 1120px;
  height: 6rem;
  margin: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  img {
    cursor: pointer;
    width: 65px;
  }
  nav {
    margin-left: 5rem;
    height: 5rem;
    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: #111113;
      & + a {
        margin-left: 2rem;
      }
      &.active{
        color: red;
        font-weight: bold;
        border-bottom: 1px solid black;
      }
    }
  }
  button {
    margin-left: auto;
  }
}
